
{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>
        <p class="project-desc">{{project.descr | newline_to_br }}</p>
        <!-- <p class="project-desc">{{project.descr}}</p> -->
        {% if project.demo %}
          <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}
        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}


{% if site.show_os_projects %}
  <h1 class="title">{{site.os_projects_title}}</h1>
  {% assign sorted_projects = site.projects | sort: 'name' %}
  <!-- {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %} -->
  
  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}
   
  <div class="projects-wrapper">
    {% for repository in filtered_repos %}
      {% if site.featured_repositories contains repository.name %}
        {% unless site.projects.exclude.projects contains repository.name %}
          <div class="project neumorphism-card" data-aos="zoom-in-down">
            <div class="project-content">
              <div class="project-image">
                <img src="{{ site.baseurl }}{{ site.data.project_descriptions[repository.name].image }}" alt="{{ repository.name }} image" class="project-img" style="width: 500px; height: 500px;">
              </div>
              <div class="name-link-wrapper">
                <div class="links">
                  {% if repository.name != "uber" %}
                  <!-- código existente removido para facilitar a leitura -->
                  <a class="highlight-link" href="{{ site.data.project_descriptions[repository.name].streamlit }}" target="_blank" rel="noreferrer">
                    Apresentação no Streamlit
                  </a>
                  {% endif %}
                  <a class="highlight-link" href="{{ site.data.project_descriptions[repository.name].github }}" target="_blank" rel="noreferrer">
                    Código no Github
                    </a>
                  </a>
                </div>
              </div>
            </div>
            <p class="project-desc">{{repository.description}}</p>
            <!-- código existente removido para facilitar a leitura -->
            {% if site.data.project_descriptions[repository.name].tags %}
              <div class="tag-wrapper">
                {% for tag in site.data.project_descriptions[repository.name].tags %}
                  <span class="tag neumorphism-card">{{tag}}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}


