<!-- <h1 class="title">{{site.about_me_title}}</h1>
<img src="{{ site.profile_image }}" alt="Foto de perfil">
<p class="description" data-aos="fade-down">{{site.about_me_description}}</p> -->
<div class="about-me-section" style="display: flex; align-items: flex-start;">
    <img src="{{ site.profile_image }}" alt="Foto de perfil" style="margin-right: 20px; margin-top: 70px; width: 170px;">
    <div>
      <h1 class="title">{{site.about_me_title}}</h1>
      <p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
    </div>
  </div>